@import 'tailwindcss';

:root {
	--color-primary: #eff0eb;
	--color-on-primary: #171717;
}

@theme {
	--color-background: var(--color-primary);
	--color-foreground: var(--color-on-primary);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

html {
	@apply text-[14px] md:text-[16px] lg:text-[17px];
	@apply leading-[1.2] md:leading-normal lg:leading-[1.6];
}

body {
	background: var(--color-primary);
	color: var(--color-on-primary);

	font-family: Arial, Helvetica, sans-serif;
}
